/*
    earlystagelegal.css
    Applies to the EarlyStageLegal page.
*/

body {
    padding-bottom: 30px;
}

.esl-description {
    padding: 0px 60px;
    margin-top: -20px;
}

.esl-table {
    border-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
}

.esl-table-header {
    font-size: 18px;
}

.esl-table-cell {
    font-size: 14px;
    vertical-align: top;
}

.esl-table-header-cell, .esl-table-row-header {
    font-weight: 800;
    font-size: 20px;
}

.esl-table-header-cell {
    border-bottom: 3px black solid;
    padding-bottom: 5px;
}

.esl-table-header-cell:first-of-type {
    border: none;
}

.esl-table-row .esl-table-cell {
    padding-top: 20px;
}

.esl-table-row-header {
    text-align: right;
}

.esl-table-cell a {
    background: white;
    padding: 5px 10px;
    /*border-radius: 5px;*/
    margin-bottom: 3px;
    display: block;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.esl-table-cell a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* Styling for the Legal Management Score function. */
.legal-score-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-weight: 600;
    transition: 0.2s;
}

.legal-score-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 320px;
}

.lms-form {
    padding: 20px 50px;
}

.lms-question-block {
    margin-bottom: 15px;
    margin-top: 15px;
}

.lms-question {
    display: block;
}

.lms-option {
    margin-left: 10px;
}

.lms-question-number {
    font-family: "roc grotesk";
    font-size: 36px;
    color: rgba(0, 0, 0, 0.25);
}