/*
    earlystagelegal.css
    Applies to the EarlyStageLegal page.
*/

body {
    padding-bottom: 60px;
}

.esl-description {
    padding: 0px 60px;
    margin-top: -20px;
}

.esl-table {
    border-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
}

.esl-table-header {
    font-size: 18px;
}

.esl-table-cell {
    font-size: 14px;
    vertical-align: top;
}

.esl-table-header-cell, .esl-table-row-header {
    font-weight: 800;
    font-size: 20px;
}

.esl-table-header-cell {
    border-bottom: 3px black solid;
    padding-bottom: 5px;
}

.esl-table-header-cell:first-of-type {
    border: none;
}

.esl-table-row .esl-table-cell {
    padding-top: 20px;
}

.esl-table-row-header {
    text-align: right;
}

.esl-table-cell a {
    background: white;
    padding: 5px 10px;
    /*border-radius: 5px;*/
    margin-bottom: 3px;
    display: block;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.esl-table-cell a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* Styling for the Legal Management Score function. */
.lms-form-container {
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.lms-header-img-container {
    margin: -20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.lms-header-img {
    width: 100%;
}

.lms-header-text {
    margin-left: 10px;
}

.lms-title {
    font-size: 24px;
    margin: 0;
}

.lms-description {
    font-size: 14px;
    margin-top: 5px;
}

.lms-question-block {
    margin-bottom: 15px;
    margin-top: 15px;
}

.lms-question-block-inner {
    margin-left: 60px;
}

.lms-question {
    display: block;
}

.lms-yes-label {
    margin-right: 10px;
}

.lms-question-number {
    font-family: "roc grotesk";
    font-size: 36px;
    color: rgba(0, 0, 0, 0.25);
    width: 50px;
    text-align: right;
    margin-bottom: -50px;
}

.lms-button {
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
    font-style: italic;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-weight: 600;
    transition: 0.2s;
}

.lms-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 320px;
}

.lms-results {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: none;
}